html
	head
		title Post a message!
	body
		nav
			div
				a(href= "/") Index
			div
				a(href= "/profile") Go to your profile!
			div
				a(href= '/myposts') View all your posts!
			div
				a(href='/post') View all posts!
		h1 All posts
		if posts
			each post in posts
				if users[post.userId]
					h2 #{post.title}
					h3 #{users[post.userId].firstname} #{users[post.userId].lastname} said:
					//- h3 #{users[index].firstname} #{users[index].lastname} said:
					p #{post.body}
					each comment in comments
						//- This if statement is added to render the right comment beneath the right post
						if comment.postId === post.id
							h4 #{users[comment.userId].firstname} #{users[comment.userId].lastname} commented:
							p #{comment.body}
					form(action='/comment' method='post')
						h4 Comment:
						textarea(name= 'comment' id='comment' placeholder= 'Post your comment!')
						input(type='hidden' name='messageId' value=post.id)
						br
						br
						input(type='submit' value='Submit your comment!')
				else
					h2 You haven't posted anything yet!
		else
			h2 There are no posts yet!
		h2 Post your awesome message!
		form(action='/post' method='post')
			h3 Title:
			input(name= 'title' id='title' placeholder= 'Type your title')
			h3 Type in your message:
			textarea(name= 'message' id='textbox' placeholder= 'Type your message')
			br
			br
			input(type= 'submit' value= "Submit your post!")